{:blocks (
{:block/content "Bayesian Models"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b2cfcd-a86b-478b-823a-23ffddfb2377"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/uuid #uuid "69b2d002-52a8-46c9-8422-0db34eec7ffe"} 
{:block/content "Regression"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b2cfa7-74ad-4686-8edc-33db707ce075"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/properties 
{}
:block/uuid #uuid "69b2cfcd-a86b-478b-823a-23ffddfb2377"} 
{:block/content "PSS Usability"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/properties 
{}
:block/uuid #uuid "69b2cfa7-74ad-4686-8edc-33db707ce075"} 
{:block/content "Agents"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b2d002-52a8-46c9-8422-0db34eec7ffe"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/properties 
{}
:block/uuid #uuid "69b829a3-41fd-448c-b4cd-5ffe9036c22d"} 
{:block/content "LLMs"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b829a3-41fd-448c-b4cd-5ffe9036c22d"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/uuid #uuid "69bbb3b3-1052-45be-92fb-6d92b96daff5"} 
{:block/created-at 1774365803807
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Usage of AI"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [608 15802.188693724867]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8ec4c260-2698-11f1-a7d4-cb1398306098"
:noFill false
:point [3048 -5376]
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:collapsedHeight 0
:nonce 1774257210196}}
:block/updated-at 1774365803807} 
{:block/created-at 1774365803812
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Review Urban Cities"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [9376 5767.389926388009]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c1d19100-26bc-11f1-9f2f-bd1f3447149f"
:noFill false
:point [-3688 -11888]
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:collapsedHeight 0
:nonce 1774272757402}}
:block/updated-at 1774365803812})
:pages (
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:name "ai overview"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("8ec4c260-2698-11f1-a7d4-cb1398306098" "c1d19100-26bc-11f1-9f2f-bd1f3447149f")}}
:block/updated-at 1774366213528
:block/created-at 1773326222495
:block/type "whiteboard"
:block/name "ai overview"
:block/original-name "Ai Overview"})}