{:blocks (
{:block/content "Contextual Factors"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/properties 
{}
:block/uuid #uuid "69b2cfa7-74ad-4686-8edc-33db707ce075"} 
{:block/created-at 1773326264785
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "69b2cfa7-74ad-4686-8edc-33db707ce075"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "fbf83310-1e20-11f1-bef1-1349931039d0"
:noFill false
:point [440 392]
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:collapsedHeight 0
:nonce 1773326244037}}
:block/updated-at 1773326264785} 
{:block/content "Linear Regression"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b2cfa7-74ad-4686-8edc-33db707ce075"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/uuid #uuid "69b2cfcd-a86b-478b-823a-23ffddfb2377"} 
{:block/created-at 1773406114851
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "69b2cfcd-a86b-478b-823a-23ffddfb2377"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [160 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "0f989d10-1e21-11f1-bef1-1349931039d0"
:noFill false
:point [2008 -8]
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:collapsedHeight 0
:nonce 1773326277233}}
:block/updated-at 1773406114851} 
{:block/content "Bayesian Models"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b2cfcd-a86b-478b-823a-23ffddfb2377"}
:block/parent 
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"}
:block/uuid #uuid "69b2d002-52a8-46c9-8422-0db34eec7ffe"} 
{:block/created-at 1773406135962
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "69b2d002-52a8-46c9-8422-0db34eec7ffe"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [168 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "20358b10-1e21-11f1-bef1-1349931039d0"
:noFill false
:point [2040 816]
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:collapsedHeight 0
:nonce 1773326305269}}
:block/updated-at 1773406135962} 
{:block/created-at 1773406117459
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "Contextual Factors Method"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 395.99998191550924]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "84c89e00-1eda-11f1-a2f8-dbcc9ee2c405"
:noFill false
:point [1248 88]
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:collapsedHeight 0
:nonce 1773405930663}}
:block/updated-at 1773406117459} 
{:block/created-at 1773406127845
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "f60fa400-1eda-11f1-a2f8-dbcc9ee2c405"
:fontWeight 400
:noFill true
:point [1652 34]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [368.86 0]
:bindingId "f60f7cf0-1eda-11f1-a2f8-dbcc9ee2c405"}
:end 
{:id "end"
:canBind true
:point [0 118.12]
:bindingId "f60f7cf1-1eda-11f1-a2f8-dbcc9ee2c405"}}
:decorations 
{:end "arrow"}
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:nonce 1773406120726
:italic false}}
:block/updated-at 1773406127845} 
{:block/created-at 1773406130025
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "f9e27df2-1eda-11f1-a2f8-dbcc9ee2c405"
:fontWeight 400
:noFill true
:point [844 327.01]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [403 0]
:bindingId "f9e27df0-1eda-11f1-a2f8-dbcc9ee2c405"}
:end 
{:id "end"
:canBind true
:point [0 82.22]
:bindingId "f9e27df1-1eda-11f1-a2f8-dbcc9ee2c405"}}
:decorations 
{:end "arrow"}
:parentId "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:nonce 1773406127045
:italic false}}
:block/updated-at 1773406130025})
:pages (
{:block/uuid #uuid "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "69b2cf8e-eb90-40ff-9a46-5b76e82aca0f"
:name "map: pss - ai"
:bindings 
{:f60f7cf0-1eda-11f1-a2f8-dbcc9ee2c405 
{:id "f60f7cf0-1eda-11f1-a2f8-dbcc9ee2c405"
:type "line"
:fromId "f60fa400-1eda-11f1-a2f8-dbcc9ee2c405"
:toId "0f989d10-1e21-11f1-bef1-1349931039d0"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:f60f7cf1-1eda-11f1-a2f8-dbcc9ee2c405 
{:id "f60f7cf1-1eda-11f1-a2f8-dbcc9ee2c405"
:type "line"
:fromId "f60fa400-1eda-11f1-a2f8-dbcc9ee2c405"
:toId "84c89e00-1eda-11f1-a2f8-dbcc9ee2c405"
:handleId "end"
:point [0.47 0.34]
:distance 4}
:f9e27df0-1eda-11f1-a2f8-dbcc9ee2c405 
{:id "f9e27df0-1eda-11f1-a2f8-dbcc9ee2c405"
:type "line"
:fromId "f9e27df2-1eda-11f1-a2f8-dbcc9ee2c405"
:toId "84c89e00-1eda-11f1-a2f8-dbcc9ee2c405"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:f9e27df1-1eda-11f1-a2f8-dbcc9ee2c405 
{:id "f9e27df1-1eda-11f1-a2f8-dbcc9ee2c405"
:type "line"
:fromId "f9e27df2-1eda-11f1-a2f8-dbcc9ee2c405"
:toId "fbf83310-1e20-11f1-bef1-1349931039d0"
:handleId "end"
:point [0.79 0.79]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("fbf83310-1e20-11f1-bef1-1349931039d0" "0f989d10-1e21-11f1-bef1-1349931039d0" "20358b10-1e21-11f1-bef1-1349931039d0" "84c89e00-1eda-11f1-a2f8-dbcc9ee2c405" "f60fa400-1eda-11f1-a2f8-dbcc9ee2c405" "f9e27df2-1eda-11f1-a2f8-dbcc9ee2c405")}}
:block/updated-at 1773406135962
:block/created-at 1773326222495
:block/type "whiteboard"
:block/name "map: pss - ai"
:block/original-name "map: pss - ai"})}