{:blocks (
{:block/content "MCDA Elements"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69bad42e-d87d-46a4-9f03-5dc568f936dc"}
:block/parent 
{:block/uuid #uuid "69bad42e-d87d-46a4-9f03-5dc568f936dc"}
:block/uuid #uuid "69b410bb-71f3-4e51-9da2-4b6c320523bc"} 
{:block/created-at 1774345792985
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "MCDA Elements"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [1960 7218.32740125887]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "60a10930-1ee0-11f1-a2f8-dbcc9ee2c405"
:noFill false
:point [1008 488]
:parentId "69b410b3-53e5-40e6-a816-efecb7bb26b7"
:collapsedHeight 0
:nonce 1773408447029}}
:block/updated-at 1774345792985} 
{:block/created-at 1774345787878
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "MCDA Lecture"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [808 1104.8907521787899]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9ffefbe0-2134-11f1-a493-69dc266a18df"
:noFill false
:point [-288 520]
:parentId "69b410b3-53e5-40e6-a816-efecb7bb26b7"
:collapsedHeight 0
:nonce 1773664533570}}
:block/updated-at 1774345787878} 
{:block/created-at 1774340192510
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "GIS-MCDA Overview"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [2000 1394.9998480058366]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f3515080-237e-11f1-9566-5f54e25a52a7"
:noFill false
:point [1016 8184]
:parentId "69bad42e-d87d-46a4-9f03-5dc568f936dc"
:collapsedHeight 0
:nonce 1773916358643}}
:block/updated-at 1774340192510} 
{:block/created-at 1774002260563
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "MCDA and AI"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [3080 4414.781040253528]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b14ca4a0-2397-11f1-9566-5f54e25a52a7"
:noFill false
:point [6352 1216]
:parentId "69bad42e-d87d-46a4-9f03-5dc568f936dc"
:collapsedHeight 0
:nonce 1773926984709}}
:block/updated-at 1774002260563} 
{:block/created-at 1774345788274
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "GIS-MADA"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [3176 2858.4065254506477]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6ece95b0-2442-11f1-8386-3b58c23cf86f"
:noFill false
:point [-1208 11048]
:parentId "69bad42e-d87d-46a4-9f03-5dc568f936dc"
:collapsedHeight 0
:nonce 1774000317541}}
:block/updated-at 1774345788274} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b410bb-71f3-4e51-9da2-4b6c320523bc"}
:block/parent 
{:block/uuid #uuid "69bad42e-d87d-46a4-9f03-5dc568f936dc"}
:block/properties 
{}
:block/uuid #uuid "69c24b3c-9f17-44f8-af0b-de9a362354ca"} 
{:block/created-at 1774345787897
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "Overview AI in MCDA"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [1544 1367.9999624667475]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7b46c9e0-275b-11f1-9df5-27e00ad2dea6"
:noFill false
:point [-1512 2720]
:parentId "69bad42e-d87d-46a4-9f03-5dc568f936dc"
:collapsedHeight 0
:nonce 1774340929206}}
:block/updated-at 1774345787897} 
{:block/created-at 1774345820287
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "Non-Additive-Value"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 93.00002955803487]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cffd7dc0-2766-11f1-9df5-27e00ad2dea6"
:noFill false
:point [4200 1888]
:parentId "69bad42e-d87d-46a4-9f03-5dc568f936dc"
:collapsedHeight 0
:nonce 1774345795486}}
:block/updated-at 1774345820287})
:pages (
{:block/uuid #uuid "69bad42e-d87d-46a4-9f03-5dc568f936dc"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "69bad42e-d87d-46a4-9f03-5dc568f936dc"
:name "mcda"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("60a10930-1ee0-11f1-a2f8-dbcc9ee2c405" "9ffefbe0-2134-11f1-a493-69dc266a18df" "f3515080-237e-11f1-9566-5f54e25a52a7" "b14ca4a0-2397-11f1-9566-5f54e25a52a7" "6ece95b0-2442-11f1-8386-3b58c23cf86f" "7b46c9e0-275b-11f1-9df5-27e00ad2dea6" "cffd7dc0-2766-11f1-9df5-27e00ad2dea6")}}
:block/journal? false
:block/updated-at 1774345820287
:block/created-at 1773408435819
:block/type "whiteboard"
:block/name "mcda"
:block/original-name "mcda"})}