{:blocks (
{:block/created-at 1773394644229
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "pss definition"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 92.99985660931452]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c60cefe0-1dec-11f1-bef1-1349931039d0"
:noFill false
:point [680 672]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773303820078}}
:block/updated-at 1773394644229} 
{:block/created-at 1773303846817
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "4 criteria for PSS modeling and planning"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [1056 618.0000663097993]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ca503ee0-1dec-11f1-bef1-1349931039d0"
:noFill false
:point [1408 16]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773303827379}}
:block/updated-at 1773303846817} 
{:block/created-at 1773303893221
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "WSUD suitability Framework"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [2664 1554.000157708005]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d987a970-1dec-11f1-bef1-1349931039d0"
:noFill false
:point [640 1384]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773303853140}}
:block/updated-at 1773303893221} 
{:block/created-at 1773394644284
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "fb8375e2-1dec-11f1-bef1-1349931039d0"
:fontWeight 400
:noFill true
:point [878.4 766]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [1.49 0]
:bindingId "fb8375e0-1dec-11f1-bef1-1349931039d0"}
:end 
{:id "end"
:canBind true
:point [0 614]
:bindingId "fb8375e1-1dec-11f1-bef1-1349931039d0"}}
:decorations 
{:end "arrow"}
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:nonce 1773303909502
:italic false}}
:block/updated-at 1773394644284} 
{:block/created-at 1773415337828
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "PSS Evaluation Dimension"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [1072 907.2187446762641]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2764d410-1ded-11f1-bef1-1349931039d0"
:noFill false
:point [-1128 568]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773303983194}}
:block/updated-at 1773415337828} 
{:block/content "Usefulness of PSS"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b277f4-a8e4-488d-862a-66dfe10929e0"}
:block/parent 
{:block/uuid #uuid "69b277f4-a8e4-488d-862a-66dfe10929e0"}
:block/uuid #uuid "69b28246-52ba-43ce-9c1c-cd1473089b6b"} 
{:block/created-at 1773406222584
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "Usefulness of PSS"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [1920 2331.9999750961006]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "e1c2fee0-1df2-11f1-bef1-1349931039d0"
:noFill false
:point [-160 -2552]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773306443994}}
:block/updated-at 1773406222584} 
{:block/created-at 1773394673449
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "Case Studys of PSS Usefulness Framework"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [912 1020.9999478509376]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "68845e00-1dfe-11f1-bef1-1349931039d0"
:noFill false
:point [2608 -2544]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773311393792}}
:block/updated-at 1773394673449} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "69b28246-52ba-43ce-9c1c-cd1473089b6b"}
:block/parent 
{:block/uuid #uuid "69b277f4-a8e4-488d-862a-66dfe10929e0"}
:block/properties 
{}
:block/uuid #uuid "69b3db10-f0c4-43d4-bfc1-4fe8dfa2dc20"} 
{:block/created-at 1773405916033
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 7
:scale [1 1]
:pageId "Contextual Factors Study Results"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [1792 992.9999106849962]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "63af4120-1ec0-11f1-a2f8-dbcc9ee2c405"
:noFill false
:point [4888 -816]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773394708052}}
:block/updated-at 1773405916033} 
{:block/created-at 1773415474016
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 8
:scale [1 1]
:pageId "WSUD Planning Process"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [4376 4855.577981232839]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "aeef2ad0-1ef0-11f1-a2f8-dbcc9ee2c405"
:noFill false
:point [4056 432]
:parentId "69b277f4-a8e4-488d-862a-66dfe10929e0"
:collapsedHeight 0
:nonce 1773415450219}}
:block/updated-at 1773415474016})
:pages (
{:block/uuid #uuid "69b277f4-a8e4-488d-862a-66dfe10929e0"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "69b277f4-a8e4-488d-862a-66dfe10929e0"
:name "pss (whiteboard)"
:bindings 
{:fb8375e0-1dec-11f1-bef1-1349931039d0 
{:id "fb8375e0-1dec-11f1-bef1-1349931039d0"
:type "line"
:fromId "fb8375e2-1dec-11f1-bef1-1349931039d0"
:toId "c60cefe0-1dec-11f1-bef1-1349931039d0"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:fb8375e1-1dec-11f1-bef1-1349931039d0 
{:id "fb8375e1-1dec-11f1-bef1-1349931039d0"
:type "line"
:fromId "fb8375e2-1dec-11f1-bef1-1349931039d0"
:toId "d987a970-1dec-11f1-bef1-1349931039d0"
:handleId "end"
:point [0.09 0.51]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("c60cefe0-1dec-11f1-bef1-1349931039d0" "ca503ee0-1dec-11f1-bef1-1349931039d0" "d987a970-1dec-11f1-bef1-1349931039d0" "fb8375e2-1dec-11f1-bef1-1349931039d0" "2764d410-1ded-11f1-bef1-1349931039d0" "e1c2fee0-1df2-11f1-bef1-1349931039d0" "68845e00-1dfe-11f1-bef1-1349931039d0" "63af4120-1ec0-11f1-a2f8-dbcc9ee2c405" "aeef2ad0-1ef0-11f1-a2f8-dbcc9ee2c405")}}
:block/updated-at 1773415474016
:block/created-at 1773303796718
:block/type "whiteboard"
:block/name "pss (whiteboard)"
:block/original-name "pss (whiteboard)"})}